#calendar
{
	
}

#cal, #daycal
{
	margin-top:80px;
	width: 735px;
	margin:auto;
}

.nextButton, .previousButton
{
	font-size:25px;
	position:absolute;
	border: none;
	box-shadow: none;
	outline: 0;
	top:50%;
	background:transparent;
	color:#fff;
	margin-top:-45px;
}

#daycal .nextButton, #daycal .previousButton
{
	margin-top:-22px;
}

.nextButton
{
	right:-80px;
}

.nextButton:hover
{
	color:#6FA7D1;
}

.previousButton
{
	left:-80px;
}

.previousButton:hover
{
	color:#6FA7D1;
}


/* Cal-HeatMap CSS */

.cal-heatmap-container {
	display: block;
}

.graph
{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.graph-label
{
	fill: #444;
	font-size: 14px;
}

#daycal .graph-label
{
	font-size: 8px;
}

.graph, .graph-legend rect {
	shape-rendering: crispedges
}

.graph-rect
{
	/*fill: #ededed*/
	fill:#fff;
}

.subdomain-text {
	opacity:0;
	font-size: 8px;
	fill: #fff;
	pointer-events: none;
	text-shadow: 1px 1px #333;
}

.subdomain-text:hover
{
	opacity:1;
}

.hover_cursor:hover {
	cursor: pointer
}

.qi {
	background-color: #999;
	fill: #999
}

.q0
{
	background-color: #fff !important;
	fill: #fff !important;
}

/*
.q1
{
	background-color: #dae289;
	fill: #dae289
}

.q2
{
	background-color: #cedb9c;
	fill: #9cc069
}

.q3
{
	background-color: #b5cf6b;
	fill: #669d45
}

.q4
{
	background-color: #637939;
	fill: #637939
}

.q5
{
	background-color: #3b6427;
	fill: #3b6427
}*/

.q1
{
	background-color:#6FA7D1;
	fill:#6FA7D1;
}

.q2
{
	background-color:#395F99;
	fill:#395F99;
}

.q3
{
	background-color:#224F73;
	fill:#224F73;
}

.q4
{
	background-color:#1C3752;
	fill:#1C3752;
}

.q5
{
	background-color:#192645;
	fill:#192645;
}

rect.highlight
{
	stroke:#444;
	stroke-width:1
}

text.highlight
{
	fill: #444
}

rect.now
{
	stroke: red
}

text.now
{
	fill: red;
	font-weight: 800
}

.domain-background {
	fill: none;
	shape-rendering: crispedges
}

.ch-tooltip {
	padding: 10px;
	background: #222;
	color: #bbb;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
	position: absolute;
	z-index: 99999;
	text-align: center;
	border-radius: 2px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: none;
	box-sizing: border-box;
}

.ch-tooltip::after{
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: "";
	padding: 0;
	display: "block";
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #222;
}