#calendar
{
	width: 940px;
	margin: auto;
}

#cal
{
	margin-top:80px;
}

#nextButton
{
	position:absolute;
	background:url(../images/next.png) no-repeat;
	width: 47px;
	height: 50px;
	border: none;
	box-shadow: none;
	outline: 0;
	top:50%;
	margin-top:-25px;
	right:-60px;
}

#nextButton:hover
{
	background:url(../images/next-hover.png) no-repeat;
}

#previousButton
{
	position:absolute;
	background:url(../images/prev.png) no-repeat;
	width: 47px;
	height: 50px;
	border: none;
	box-shadow: none;
	outline: 0;
	top:50%;
	margin-top:-25px;
	left:-60px;
}

#previousButton:hover
{
	background:url(../images/prev-hover.png) no-repeat;
}


/* Cal-HeatMap CSS */

.cal-heatmap-container {
	display: block;
}

.graph
{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.graph-label
{
	fill: #efefef;
	font-size: 18px;
}

.graph, .graph-legend rect {
	shape-rendering: crispedges
}

.graph-rect
{
	/*fill: #ededed*/
	fill:#000;
}

.graph-subdomain-group rect:hover
{
	stroke: #efefef;
	stroke-width: 1px
}

.subdomain-text {
	opacity:0;
	font-size: 8px;
	fill: #fff;
	pointer-events: none;
	text-shadow: 1px 1px #333;
}

.subdomain-text:hover
{
	opacity:1;
}

.hover_cursor:hover {
	cursor: pointer
}

.qi {
	background-color: #999;
	fill: #999
}

.q0
{
	background-color: rgba(0,0,0,1) !important;
	fill: rgba(0,0,0,1) !important;
}

/*
.q1
{
	background-color: #dae289;
	fill: #dae289
}

.q2
{
	background-color: #cedb9c;
	fill: #9cc069
}

.q3
{
	background-color: #b5cf6b;
	fill: #669d45
}

.q4
{
	background-color: #637939;
	fill: #637939
}

.q5
{
	background-color: #3b6427;
	fill: #3b6427
}*/

.q1
{
	background-color:rgba(50,180,255,0.2);
	fill:rgba(50,180,255,0.2);
}

.q2
{
	background-color:rgba(50,180,255,0.4);
	fill:rgba(50,180,255,0.4);
}

.q3
{
	background-color:rgba(50,180,255,0.6);
	fill:rgba(50,180,255,0.6);
}

.q4
{
	background-color:rgba(50,180,255,0.8);
	fill:rgba(50,180,255,0.7);
}

.q5
{
	background-color:rgba(50,180,255,1);
	fill:rgba(50,180,255,1);
}

rect.highlight
{
	stroke:#444;
	stroke-width:1
}

text.highlight
{
	fill: #444
}

rect.now
{
	stroke: red
}

text.now
{
	fill: red;
	font-weight: 800
}

.domain-background {
	fill: none;
	shape-rendering: crispedges
}

.ch-tooltip {
	padding: 10px;
	background: #222;
	color: #bbb;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
	position: absolute;
	z-index: 99999;
	text-align: center;
	border-radius: 2px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: none;
	box-sizing: border-box;
}

.ch-tooltip::after{
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: "";
	padding: 0;
	display: "block";
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #222;
}
