body
{
	background:#efefef;
	overflow-y: scroll;
}

header
{
	border-bottom: 1px solid #ddd;
	padding-top: 18px;
	background: rgba(255,255,255,0.8);
	height: 72px;
}

#logobox
{
	position: absolute;
	margin-top:-8px;
}

#logo
{
	
}

header h1
{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 37px;
	color: #555;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
}

section#calendars
{
	margin-top: 10px;
}

.center
{
	text-align: center;
}

.floatleft
{
	float:left;
}

