body
{
	background:#111;
}

.center
{
	text-align: center;
}

.floatleft
{
	float:left;
}

#logo
{
	margin-top: 13px;
}

h1
{
	font-size: 25px;
	margin-top: 24px;
	color: #efefef;
	margin-left: 5px;
}