#piechart
{
	
	color: #333;
}

#piechart .center_group
{
	font-family: 'Fjalla One', sans-serif;
}

#piechart .center_group .label
{
	font-size: 25px;
}

#piechart .center_group .total
{
	font-size: 60px;
}

#piechart .center_group .units
{
	font-size: 25px;
}

#piechart .value
{	
	font-family: 'Fjalla One', sans-serif;
	font-size: 13px;
}

#piechart .units
{	
	font-size: 10px;
}