#statistics
{
	margin-top:0px;
	width: 735px;
	margin:auto;
}

#statisticsBox
{
	text-align: center;
	font-size: 18px;
	color: #555;
	width:100%;
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#topSitesBoxTitle
{
	float:left;
	width: 100%;
}

#topSitesBox
{	
	float:left;
	width: 100%;
	text-align: left;
	font-size: 14px;
	color: #333;
}

#topSitesList
{	
	float:left;
	width: 50%;
}

#topSitesVisitsTitle
{
	width:100%;
	float:left;
	text-align: right;
}

.legendaBlock
{
	float: left;
	width: 5%;
	height: 12px;
	margin-right: 5%;
	margin-top: 5px;
}

.topSitesURL
{	
	float:left;
	width:50%;
}

.topSitesVisits
{	
	width:40%;
	float:right;
	text-align: right;
}

#graphsBox
{	
	text-align: center;
	font-size: 14px;
	color: #333;
	float:left;
	width:50%;
}

#piechart
{	
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.428571429;
color: #333;
}

#hourlyVisitsBox
{
float:left;
width:100%;
text-align: left;
font-size: 14px;
color: #333;
margin-top: 10px;
}

#bargraph
{
margin-left: -10px;
}

#buttonBox
{
	float:right;
}

#sortButton
{
	float:right;
}
#dayButtonText
{
	float:right;
}

#viewButton
{
float:right;	
}

#viewButtonText
{
	float:right;
}