#statistics
{
	margin-top:80px;
	width: 735px;
	margin:auto;
}

#statisticsBox
{
	text-align: center;
	font-size: 18px;
	color: #555;
	width:100%;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
}

#topSitesBox
{	
	float:left;
	width:49%;
	text-align: left;
	font-size: 14px;
	color: #333;
}
#topSitesURL
{	
	float:left;
	width:49%;
}

#topSitesVisits
{
	float:right;
	width:49%;
}

#graphsBox
{	
	text-align: center;
	font-size: 14px;
	color: #555;
	float:right;
	width:49%;
}

#graphsBox .value
{	
	text-align: center;
	font-size: 10px;
	color: #555;
}

#piechart
{	
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.428571429;
color: #333;
}

#hourlyVisitsBox
{
float:left;
width:49%;
text-align: left;
font-size: 14px;
color: #333;
}
#hoursBox
{
float:left;
width:49%;
text-align: left;
font-size: 14px;
color: #333;
}

#hourlyVisitsTime
{	
	float:left;
	width:49%;
}

#hourlyVisits
{
	float:right;
	width:49%;
}
